
html{
	background-color: #e0f4d5;
}
*,*:before,*:after{
    box-sizing:inherit;
}

body{
    margin:0;
    max-width:1600px;
}

.right{
    right: right !important;
}

.round{
    border-radius:4px;
}

.textgrey{
    color:#757575!important
}

.barblock{
    width:100%;
    text-align:left;
    min-width:100%;
    display:block;
    border:none;
    white-space:normal;
    float:none;
    outline:0;
    overflow: auto;
}

.button{
    border:none;
    display:inline-block;
    padding: 8px 16px !important;
    vertical-align:middle;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:left;
    cursor:pointer;
    width:50%;
    white-space:normal;
}

.barItem{
    float:none;
    outline:0;
}

.textTeal{
    color:#009688!important;
}

.container,.panel{
    padding:0.01em 16px;
}

.panel{
    margin-top:16px;
    margin-bottom:16px;
}
.small{
    font-size:12px !important;
}

.large{
    font-size:18px !important;
}

.lightgrey{
    color:#000!important;
    background-color:#e0f4d5!important
}

/*********************************************************************************************************/
/** ASIDE **/

#mySidebar{
    z-index:3;
    width:300px;
}

.sidebar{
    height:100%;
    width:200px;
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow: auto;
}

a{
    color: inherit;
    background-color: transparent;
}

aside nav img{
    width:45%;
}

.marginright{
    margin-right:16px!important;
}

/*********************************************************************************************************/
/** MAIN **/

main{
    margin-left:300px;
    transition:margin-left .4s;
}

.section{
    margin-top:16px!important;
    margin-bottom:16px!important;
}

.bottombar{
    border-bottom: 6px solid #ccc;
}

.rowpadding, .third{
    padding:0 8px;
}

.marginbottom{
    margin-bottom:16px!important
}

.colorblock{
    color:#000!important;
    background-color:#dbe2d7!important;
}

.colorwhite{
    color:#000!important;
    background-color:#fff!important;
}

.third{
    float:left;
    width:100%;
    width: 30%;
}

.skills{
    height: 300px;
}

.icons{
    width: 14px;
}

/*********************************************************************************************************/
/** FORM **/

.contact {
	width: 130px;
	display: inline-block;
	text-align: right;
}

.form_error{
	margin-left: 130px;
}

fieldset{
	margin-bottom: 30px;
	padding: 5px;
	border: none;
}

fieldset:last-child{
	margin-bottom: 0px;
}

label{
	font-size: 12pt;
}

textarea{
	width: 50%;
}

.formfield{
	
	margin: 10px 0px;
}

.error{
	color: red;
	font-style: italic;
	font-weight: bold;
	padding: 5px 0;
	display: none;
}

input[type=text], button[type=submit], button[type=reset]
{
	padding: 5px 5px;
}

/*********************************************************************************************************/
/** MEDIA QUERY **/

@media (min-width: 993px){
    .sidebar {
        display: block !important;
    }
    .main{
        margin-left:0!important;
        margin-right:0!important;
    }
}
